:root {
  /**
   * Card dimensions
   */
  --width-poster-card: var(--ni-136);
  --height-poster-card: var(--ni-236);
  --height-poster-card-cover: var(--ni-196);

  --width-thumb-card: var(--ni-212);
  --height-thumb-card: var(--ni-160);
  --height-thumb-card-cover: var(--ni-120);

  --width-episode-card: var(--ni-212);
  --height-episode-card: var(--ni-172);
  --height-episode-card-cover: var(--ni-120);

  --width-person-card: var(--ni-120);
  --height-person-card: var(--ni-176);
  --height-person-footer: var(--ni-32);
  --height-person-card-cover: var(--ni-176);

  --width-summary-card: 100%;
  --height-summary-card: var(--ni-148);
  --height-episode-summary-card: var(--ni-112);

  --width-list-card: var(--ni-480);
  --height-list-card: var(--ni-256);

  --width-comment-card: var(--ni-480);
  --height-comment-card: var(--ni-228);

  /**
   * List dimensions
   */
  --height-episode-list: calc(
    var(--height-episode-card) + var(--layout-distance-scroll-card)
      + var(--layout-scrollbar-width)
  );
  --height-thumb-list: calc(
    var(--height-thumb-card) + var(--layout-distance-scroll-card)
      + var(--layout-scrollbar-width)
  );
  --height-person-list: calc(
    var(--height-person-card) + var(--layout-distance-scroll-card)
      + var(--layout-scrollbar-width)
      + var(--height-person-footer)
  );
  --height-poster-list: calc(
    var(--height-poster-card) + var(--layout-distance-scroll-card)
      + var(--layout-scrollbar-width)
  );
  --height-lists-list: calc(
    var(--height-list-card) + var(--layout-distance-scroll-card)
      + var(--layout-scrollbar-width)
  );
  --height-comments-list: calc(
    var(--height-comment-card) + var(--layout-distance-scroll-card)
      + var(--layout-scrollbar-width)
  );

  /**
   * Structural variables
   */
  --layout-distance-side: var(--ni-24);
  --layout-distance-scroll-card: var(--ni-24);
  --layout-scrollbar-width: var(--ni-8);
}
