:root {
  /**
   * Card dimensions
   */
  --width-poster-card: var(--ni-136);
  --height-poster-card: var(--ni-236);
  --height-poster-card-cover: var(--ni-196);

  --width-show-card: var(--ni-212);
  --height-show-card: var(--ni-160);
  --height-show-card-cover: var(--ni-120);

  --width-episode-card: var(--ni-212);
  --height-episode-card: var(--ni-172);
  --height-episode-card-cover: var(--ni-120);

  --width-person-card: var(--ni-120);
  --height-person-card: var(--ni-176);
  --height-person-footer: var(--ni-32);
  --height-person-card-cover: var(--ni-176);

  /**
   * List dimensions
   */
  --height-episode-list: calc(
    var(--height-episode-card) + var(--layout-distance-scroll-card)
      + var(--layout-scrollbar-width)
  );
  --height-show-list: calc(
    var(--height-show-card) + var(--layout-distance-scroll-card)
      + var(--layout-scrollbar-width)
  );
  --height-person-list: calc(
    var(--height-person-card) + var(--layout-distance-scroll-card)
      + var(--layout-scrollbar-width)
      + var(--height-person-footer)
  );
  --height-poster-list: calc(
    var(--height-poster-card) + var(--layout-distance-scroll-card)
      + var(--layout-scrollbar-width)
  );

  /**
   * Structural variables
   */
  --layout-distance-side: var(--ni-24);
  --layout-distance-scroll-card: var(--ni-24);
  --layout-scrollbar-width: var(--ni-8);
}
