:root {
  /**
   * Global variables independent of theme
   */
  --color-shadow: #000;

  --color-background-navbar: color-mix(
    in srgb,
    var(--shade-920) 90%,
    transparent 10%
  );
  --color-foreground-navbar: var(--shade-10);

  --color-background-vip-border: var(--red-500);
  --color-background-vip-badge: var(--red-500);
  --color-foreground-vip-badge: var(--shade-10);

  --color-text-time-tag: var(--shade-800);
  --color-background-time-tag: var(--shade-10);

  --color-text-duration-tag: var(--shade-800);
  --color-background-duration-tag: var(--shade-10);

  --color-text-listing-tag: var(--shade-800);
  --color-background-listing-tag: var(--shade-10);

  --color-text-episode-count-tag: var(--shade-800);
  --color-background-episode-count-tag: var(--shade-10);

  --color-text-progress-tag: var(--purple-800);
  --color-background-progress-base-tag: var(--shade-10);
  --color-background-progress-tag: var(--purple-100);

  --color-text-season-premiere-tag: var(--shade-10);
  --color-background-season-premiere-tag: var(--blue-600);

  --color-text-series-premiere-tag: var(--shade-10);
  --color-background-series-premiere-tag: var(--green-700);

  --color-text-finale-tag: var(--shade-10);
  --color-background-finale-tag: var(--red-700);

  --color-text-full-season-tag: var(--shade-10);
  --color-background-full-season-tag: var(--purple-500);

  --color-text-info-tag: var(--shade-10);
  --color-background-info-tag: var(--purple-400);

  --color-text-air-date-tag: var(--shade-10);
  --color-background-air-date-tag: var(--purple-400);

  --color-text-watchers-tag: var(--shade-900);
  --color-background-watchers-tag: var(--shade-10);

  --color-text-plays-tag: var(--shade-900);
  --color-background-plays-tag: var(--shade-10);

  --color-border-avatar: var(--shade-50);
  --color-border-vip-avatar: var(--red-500);

  --color-text-preview-tag: var(--shade-10);
  --color-background-preview-tag: var(--orange-600);

  /**
   * Buttons
   */
  --color-background-purple: var(--purple-500);
  --color-foreground-purple: var(--purple-50);
  --color-background-purple-hover: var(--purple-700);

  --color-background-red: var(--red-500);
  --color-foreground-red: var(--red-50);
  --color-background-red-hover: var(--red-700);

  --color-background-blue: var(--blue-700);
  --color-foreground-blue: var(--blue-50);
  --color-background-blue-hover: var(--blue-800);

  --color-background-default: var(--shade-700);
  --color-foreground-default: var(--shade-50);
  --color-background-default-hover: var(--shade-500);

  --color-background-orange: var(--orange-300);
  --color-foreground-orange: var(--orange-50);
  --color-background-orange-hover: var(--orange-700);

  /**
   * Toggle switches
   */
  --color-tick-purple: var(--purple-500);
  --color-switch-foreground-purple: var(--purple-50);
  --color-switch-background-purple: var(--purple-800);

  --color-tick-red: var(--red-500);
  --color-switch-foreground-red: var(--red-50);
  --color-switch-background-red: var(--red-800);

  --color-tick-blue: var(--blue-500);
  --color-switch-foreground-blue: var(--blue-50);
  --color-switch-background-blue: var(--blue-800);

  --color-tick-default: var(--shade-500);
  --color-switch-foreground-default: var(--shade-50);
  --color-switch-background-default: var(--shade-800);

  --color-tick-orange: var(--orange-500);
  --color-switch-foreground-orange: var(--orange-50);
  --color-switch-background-orange: var(--orange-800);
}
