:root {
  /**
   * Global variables independent of theme
   */
  --color-shadow: #000;

  --color-background-navbar: color-mix(
    in srgb,
    var(--shade-920) 90%,
    transparent 10%
  );
  --color-foreground-navbar: var(--shade-10);

  --color-background-vip-badge: var(--purple-500);
  --color-foreground-vip-badge: var(--shade-10);

  --color-text-time-tag: var(--shade-800);
  --color-background-time-tag: var(--shade-10);

  --color-text-progress-tag: var(--purple-800);
  --color-background-progress-tag: var(--purple-100);

  --color-text-season-premiere-tag: var(--shade-10);
  --color-background-season-premiere-tag: var(--blue-600);

  --color-text-series-premiere-tag: var(--shade-10);
  --color-background-series-premiere-tag: var(--green-700);

  --color-text-finale-tag: var(--shade-10);
  --color-background-finale-tag: var(--red-700);

  --color-surface-button-primary: var(--purple-500);
  --color-foreground-button-primary: var(--shade-10);

  --color-surface-button-secondary: var(--purple-700);
  --color-foreground-button-secondary: var(--shade-10);

  --color-surface-button-vip: var(--red-500);
  --color-foreground-button-vip: var(--shade-10);
}
