:root {
  /**
   * Spacing and sizing variables
   * --ni-X where X is the size in pixels
   */
  --ni-0: 0rem;
  --ni-1: 0.0625rem;
  --ni-2: 0.125rem;
  --ni-4: 0.25rem;
  --ni-8: 0.375rem;
  --ni-10: 0.625rem;
  --ni-12: 0.75rem;
  --ni-14: 0.875rem;
  --ni-16: 1rem;
  --ni-18: 1.125rem;
  --ni-20: 1.25rem;
  --ni-22: 1.375rem;
  --ni-24: 1.5rem;
  --ni-32: 2rem;
  --ni-36: 2.25rem;
  --ni-40: 2.5rem;
  --ni-44: 2.75rem;
  --ni-48: 3rem;
  --ni-52: 3.25rem;
  --ni-56: 3.5rem;
  --ni-60: 3.75rem;
  --ni-64: 4rem;
  --ni-72: 4.5rem;
  --ni-80: 5rem;
  --ni-88: 5.5rem;
  --ni-96: 6rem;
  --ni-104: 6.5rem;
  --ni-112: 7rem;
  --ni-120: 7.5rem;
  --ni-128: 8rem;
  --ni-136: 8.5rem;
  --ni-144: 9rem;
  --ni-148: 9.25rem;
  --ni-156: 9.75rem;
  --ni-160: 10rem;
  --ni-164: 10.25rem;
  --ni-168: 10.5rem;
  --ni-172: 10.75rem;
  --ni-176: 11rem;
  --ni-180: 11.25rem;
  --ni-184: 11.5rem;
  --ni-188: 11.75rem;
  --ni-192: 12rem;
  --ni-196: 12.25rem;
  --ni-200: 12.5rem;
  --ni-204: 12.75rem;
  --ni-208: 13rem;
  --ni-212: 13.25rem;
  --ni-216: 13.5rem;
  --ni-220: 13.75rem;
  --ni-224: 14rem;
  --ni-228: 14.25rem;
  --ni-232: 14.5rem;
  --ni-236: 14.75rem;
  --ni-240: 15rem;
  --ni-244: 15.25rem;
  --ni-248: 15.5rem;
  --ni-252: 15.75rem;
  --ni-256: 16rem;
  --ni-260: 16.25rem;
  --ni-264: 16.5rem;
  --ni-268: 16.75rem;
  --ni-272: 17rem;
  --ni-276: 17.25rem;
  --ni-280: 17.5rem;
  --ni-284: 17.75rem;
  --ni-288: 18rem;
  --ni-292: 18.25rem;
  --ni-296: 18.5rem;
  --ni-300: 18.75rem;
  --ni-304: 19rem;
  --ni-308: 19.25rem;
  --ni-312: 19.5rem;
  --ni-316: 19.75rem;
  --ni-320: 20rem;
  --ni-480: 30rem;

  /**
   * Negative spacing and sizing variables
   * --ni-neg-X where X is the size in pixels
   */
  --ni-neg-0: 0rem;
  --ni-neg-2: -0.125rem;
  --ni-neg-4: -0.25rem;
  --ni-neg-6: -0.3125rem;
  --ni-neg-8: -0.375rem;
  --ni-neg-10: -0.625rem;
  --ni-neg-12: -0.75rem;
  --ni-neg-14: -0.875rem;
  --ni-neg-16: -1rem;
  --ni-neg-18: -1.125rem;
  --ni-neg-20: -1.25rem;
  --ni-neg-24: -1.5rem;
  --ni-neg-32: -2rem;
  --ni-neg-36: -2.25rem;
  --ni-neg-40: -2.5rem;
  --ni-neg-44: -2.75rem;
  --ni-neg-48: -3rem;
  --ni-neg-52: -3.25rem;
  --ni-neg-56: -3.5rem;
  --ni-neg-60: -3.75rem;
  --ni-neg-64: -4rem;
  --ni-neg-72: -4.5rem;
  --ni-neg-80: -5rem;
  --ni-neg-88: -5.5rem;
  --ni-neg-96: -6rem;
  --ni-neg-104: -6.5rem;
  --ni-neg-112: -7rem;
  --ni-neg-120: -7.5rem;
  --ni-neg-128: -8rem;
  --ni-neg-136: -8.5rem;
  --ni-neg-144: -9rem;
  --ni-neg-148: -9.25rem;
  --ni-neg-156: -9.75rem;
  --ni-neg-160: -10rem;
  --ni-neg-164: -10.25rem;
  --ni-neg-168: -10.5rem;
  --ni-neg-172: -10.75rem;
  --ni-neg-176: -11rem;
  --ni-neg-180: -11.25rem;
  --ni-neg-184: -11.5rem;
  --ni-neg-188: -11.75rem;
  --ni-neg-192: -12rem;
  --ni-neg-196: -12.25rem;
  --ni-neg-200: -12.5rem;
  --ni-neg-204: -12.75rem;
  --ni-neg-208: -13rem;
  --ni-neg-212: -13.25rem;
  --ni-neg-216: -13.5rem;
  --ni-neg-220: -13.75rem;
  --ni-neg-224: -14rem;
  --ni-neg-228: -14.25rem;
  --ni-neg-232: -14.5rem;
  --ni-neg-236: -14.75rem;
  --ni-neg-240: -15rem;
  --ni-neg-244: -15.25rem;
  --ni-neg-248: -15.5rem;
  --ni-neg-252: -15.75rem;
  --ni-neg-256: -16rem;
  --ni-neg-260: -16.25rem;
  --ni-neg-264: -16.5rem;
  --ni-neg-268: -16.75rem;
  --ni-neg-272: -17rem;
  --ni-neg-276: -17.25rem;
  --ni-neg-280: -17.5rem;
  --ni-neg-284: -17.75rem;
  --ni-neg-288: -18rem;
  --ni-neg-292: -18.25rem;
  --ni-neg-296: -18.5rem;
  --ni-neg-300: -18.75rem;
  --ni-neg-304: -19rem;
  --ni-neg-308: -19.25rem;
  --ni-neg-312: -19.5rem;
  --ni-neg-316: -19.75rem;
  --ni-neg-320: -20rem;
  --ni-neg-480: -30rem;
}
