:root {
  /**
  * Spacing and sizing variables
  * --ss-X where X is the size in pixels
  */
  --ss-2: 0.125rem;
  --ss-4: 0.25rem;
  --ss-8: 0.375rem;
  --ss-12: 0.75rem;
  --ss-16: 1rem;
  --ss-20: 1.25rem;
  --ss-24: 1.5rem;
  --ss-32: 2rem;
  --ss-40: 2.5rem;
  --ss-44: 2.75rem;
  --ss-48: 3rem;
  --ss-56: 3.5rem;
  --ss-60: 3.75rem;
  --ss-64: 4rem;
  --ss-72: 4.5rem;
  --ss-80: 5rem;
  --ss-88: 5.5rem;
  --ss-96: 6rem;
  --ss-104: 6.5rem;
  --ss-112: 7rem;
  --ss-120: 7.5rem;
  --ss-128: 8rem;
  --ss-136: 8.5rem;
  --ss-144: 9rem;
}