@use '../variables/index.scss' as *;

@mixin for-mouse {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin for-touch {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}

@mixin for-mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin for-tablet-sm {
  @media (min-width: $breakpoint-tablet-sm-min)
      and (max-width: $breakpoint-tablet-sm-max) {
    @content;
  }
}

@mixin for-tablet-sm-and-below {
  @media (max-width: $breakpoint-tablet-sm-max) {
    @content;
  }
}

@mixin for-tablet-lg {
  @media (min-width: $breakpoint-tablet-lg-min)
      and (max-width: $breakpoint-tablet-lg-max) {
    @content;
  }
}

@mixin for-tablet-lg-and-below {
  @media (max-width: $breakpoint-tablet-lg-max) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}
