:root {
  --blue-50: #e6f6ff;
  --blue-100: #b0e2ff;
  --blue-200: #8aD3ff;
  --blue-300: #54bffe;
  --blue-400: #33b3fe;
  --blue-500: #00a0fe;
  --blue-600: #0092e7;
  --blue-700: #0072b4;
  --blue-800: #00588c;
  --blue-900: #00436b;
}