:root {
  --green-50: #e9fbf3;
  --green-100: #bbf1d9;
  --green-200: #9aebc6;
  --green-300: #6ce2ad;
  --green-400: #50dc9d;
  --green-500: #24d384;
  --green-600: #21c078;
  --green-700: #1a965e;
  --green-800: #147449;
  --green-900: #0f5937;
}