:root {
  --orange-50: #ffefe6;
  --orange-100: #ffcdb2;
  --orange-200: #ffb58c;
  --orange-300: #ff9458;
  --orange-400: #ff7138;
  --orange-500: #ff5f0a;
  --orange-600: #e85605;
  --orange-700: #b54304;
  --orange-800: #8c3403;
  --orange-900: #6b2803;
}