:root {
  --purple-50: #f5ecf9;
  --purple-100: #e1c4ed;
  --purple-200: #d3a8e5;
  --purple-300: #bf80d9;
  --purple-400: #b268d1;
  --purple-500: #9f42c6;
  --purple-600: #913cb4;
  --purple-700: #712f8d;
  --purple-800: #57246d;
  --purple-900: #431c53;
}