:root {
  --shade-10: #fefefe;
  --shade-20: #fbfbfb;
  --shade-30: #f9f9f9;
  --shade-40: #f6f6f7;
  --shade-50: #f1f2f3;
  --shade-60: #ebecee;
  --shade-70: #e5e7e9;
  --shade-80: #dee1e3;
  --shade-90: #d8dcde;
  --shade-100: #d2d6d9;
  --shade-200: #bcc2c6;
  --shade-300: #9ea6ac;
  --shade-400: #8b959c;
  --shade-500: #6e7a83;
  --shade-600: #646f77;
  --shade-700: #4e575d;
  --shade-800: #3d4348;
  --shade-900: #2e3337;
  --shade-910: #2a2e32;
  --shade-920: #212427;
  --shade-930: #191c1e;
  --shade-940: #131517;
}
