body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, sans-serif;

  transition-property: background-color, color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}
